# Data Science Notebook

## Introduction

Welcome to this Data Science notebook! This notebook will cover various topics in data science, including languages, libraries, tools, and practical examples.

## Data Science Languages

1. Python
2. R
3. SQL

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Tool          | Description                              |
|---------------|------------------------------------------|
| Jupyter Notebook | Interactive computing environment        |
| RStudio       | Integrated development environment for R  |
| Tableau       | Data visualization tool                   |
| Spark         | Distributed computing framework           |

## Arithmetic Expression Examples

Let's explore some basic arithmetic operations in Python.

In [2]:
# Multiply and add numbers
a = 5
b = 3
result_multiply = a * b
result_add = a + b
print(f"Multiplication Result: {result_multiply}")
print(f"Addition Result: {result_add}")

Multiplication Result: 15
Addition Result: 8

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Objectives

- Learn about different data science languages and libraries.
- Explore various data science tools and their applications.
- Practice basic arithmetic operations and conversions.

## Author

This notebook was created by Sam.